<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0,user-scalable=no,minimum-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <!--REM-->
    <script src="<%= htmlWebpackPlugin.files.chunks.winInit.entry%>"></script>
</head>
<body>
<section class="container">
    <img class="bg" src="http://y.gtimg.cn/music/photo_new/T002R300x300M000002JsU5q10jUBt.jpg" alt="">
    <div class="bgMark"></div>
    <!--HEADER-->
    <header class="headerBox">
        <img src="http://y.gtimg.cn/music/photo_new/T002R300x300M000002JsU5q10jUBt.jpg" alt="">
        <h1>我的梦</h1>
        <h2>张靓颖</h2>
        <a href="javascript:;">
            <span class="music-control-btn">&#xe633;</span>
        </a>
    </header>

    <!--MAIN-->
    <main class="mainBox">
        <div class="wrapper" data-y="0">
        </div>
    </main>

    <!--FOOTER-->
    <footer class="footerBox">
        <div class="progress">
            <span class="already"></span>
            <div class="pro">
                <div class="run"></div>
            </div>
            <span class="duration"></span>
        </div>
        <a href="javascript:;" class="down">下载这首音乐</a>
    </footer>
    
    <!--AUDIO-->
    <audio 
        src="https://cdn.junxio.site/static/demo/qq_music/av/my-dream.mp3" 
        preload
        id="audioBox">
    </audio>
</section>

<!--MAIN.js-->
<script src="<%= htmlWebpackPlugin.files.chunks.index.entry%>"></script>
</body>
</html>