@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_952972_a43n9hpf94m.eot');
  src: url('//at.alicdn.com/t/font_952972_a43n9hpf94m.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_952972_a43n9hpf94m.woff') format('woff'),
  url('//at.alicdn.com/t/font_952972_a43n9hpf94m.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_952972_a43n9hpf94m.svg#iconfont') format('svg');
}